{% extends 'base.html' %}

{% block title %}{{post.title}}{% endblock %}
{% block blogname %}{{ info.getname }}{% endblock %}

{% block content %}
<article>
<header>
<h1> {{post.title}} </h1>
<p>
Posted on
<time datetime="{{post.created|date:"c"}}">
{{post.created|date}}
</time>
</p>
</header>
<p class="description">
{{post.description}}
</p>
{{post.content|safe}}
</article>
    <hr>
    <comments>
    {% for c in comments %}
        <comment>
            <p class="username"><b>User: {{ c.username }}</b></p>
            <p class="content">Comment: {{ c.content }}</p>
        </comment>
    {% endfor %}
    <hr>
    <SubmitComment>
        <form method="post" class="comment_form"> {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </SubmitComment>
    </comments>
{% endblock %}

